@model IEnumerable<Loja.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

<h1 class="text-center">Pedidos</h1>

<br>
<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar pedido</a>
</p>

<br>
<div class="table-responsive">
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().PedidoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Cliente.Nome)
                </th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PedidoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.PedidoId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.PedidoId">Deletar</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
