@model IEnumerable<Loja.Models.Produto>


@{
    ViewData["Title"] = "Produtos";
}

<h1 class="text-center">Produtos</h1>

<br>
<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar produto</a>
</p>

<br>
<div class="table-responsive">
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().ProdutoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Preco)
                </th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdutoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ProdutoId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProdutoId">Deletar</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
